pkgbase = atlas-git
	pkgdesc = A modern tool for managing database schemas
	pkgver = 0.22.0
	pkgrel = 1
	url = https://github.com/ariga/atlas
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	provides = atlas
	conflicts = atlas
	source = atlas-0.22.0.tar.gz::https://github.com/ariga/atlas/archive/v0.22.0.tar.gz
	sha256sums = 410696021a098bb949c3d91f89df295bd8cc98fa7f51c43a8a4c959f6e9fe7c3
	b2sums = 45045e1e77cee347b7acd09e5924df704aafe636efe4b250a3f0a6bbe66a8033bb0db1ab7d679b889e9717e798a5400c268aa05dab33ff3545ea183b45203ced

pkgname = atlas-git
